:root{
    --blue:#2980b9;
    --red:tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --green: #548235;
    --bg-color:#eee;
    --dark-bg:rgba(0,0,0,.7);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid #999;
 }
 
 *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin:0 auto;
 }

 section{
    padding:2rem;
 }

.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--blue);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin: 1rem auto;
   text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   margin-top: 0;
   background-color: var(--red);
}

/* START OF MESSAGE AT THE TOP */

.message{
   background-color: var(--blue);
   position: sticky;
   top:0; left:0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.5rem 2rem;
   margin:0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

/* END OF MESSAGE AT THE TOP */



/* START OF NAVIGATION BAR */

.background-image {
   background-image: url(../images/FruitHeader.jpg);
   height: 30vh;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

.header{
   background-color: var(--green);
   position: sticky;       /* the header will stick to the top of the viewport when you scroll down the page. */
   margin: auto;
}

.header .flex{
   display: flex;
   align-items: center;
   padding:1.5rem 2rem;
   max-width: 1200px;
   margin:0 auto;
   justify-content: center; /* Center horizontally */
   white-space: nowrap;
   text-align: center;
}

.header .flex .welcome-user {
   /* margin-right: 7rem; */
   pointer-events: none;
   background-color: var(--black);
   padding: 1rem;
   border-radius: 1rem;
   margin-right: 5rem;
}

.header .flex .logo{
   position: absolute;
   font-size: 100px;
   color: var(--white);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 1px 2px 5px #000; /* Add a black outline */
   margin-top: -25rem;
}

.header .flex .navbar {
   display: flex;
   align-items: center; /* Center vertically */
   justify-content: center; /* Center horizontally */
   flex-grow: 1; /* Allow the navbar to grow to take up available space */
}


.header .flex .navbar a{
   margin-left: 5rem;      /* gaps between anchor tags */
   font-size: 2.3rem;
   color:var(--white);
}

.header .flex .navbar a:hover{
   border-bottom: 4px solid #f63e4e;
   color: yellow;
}

.header .flex .cart{
   margin-left: 10rem;
   font-size: 2.3rem;
   color:var(--white);
}

.header .flex .cart:hover{
   color:yellow;
}

.header .flex .cart .quantity{
   padding:.1rem .5rem;
   border-radius: .5rem;
   background-color: var(--white);
   color:var(--black);
   font-size: 2.3rem;
}

.header .flex .cart .price{
   padding:.1rem .5rem;
   border-radius: .5rem;
   background-color: var(--red);
   color:var(--black);
   font-size: 2.3rem;
   font-weight: bolder;
}

/* END OF NAVIGATION BAR */


/* START OF HOME PAGE */

.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5% auto;
}

.header-container .Description {
   font-weight: lighter;
   font-family: Brush Script MT, Brush Script Std, cursive;
   text-align: center;
   font-size: 70px;
   animation: rainbow 5s linear infinite; /* Apply the rainbow animation */
   white-space: nowrap;    /*  used to prevent text from wrapping to the next line. */
}

@keyframes rainbow {    /* Keyframes in CSS are used to define intermediate steps during an animation or transition. */
   0% {
       color: red;
   }
   14% {               /* Preset the colour to change every 14%  **Note: 0% = Start, 50% = halfway, 100% = end */
       color: orange;
   }
   28% {
       color: yellow;
   }
   42% {
       color: green;
   }
   57% {
       color: blue;
   }
   71% {
       color: indigo;
   }
   85% {
       color: violet;
   }
   100% {
       color: red;
   }
}

.header-container .rotated-text {
   transform: rotate(30deg);
   position: absolute;
   font-size: 30px;
   color: #df6cd4;    
   left: 85%;     /* make my rotated text to be constantly on the left */
   
}


.bullet-points-container {
   display: flex;      /* To set a div */
   justify-content: center;
   align-items: center;
}

.bullet-points-container .deals-left {
   text-align: center;
   font-size: 3rem;
   font-variant: small-caps;
   font-weight: lighter;
   margin-right: 40rem;
}

.bullet-points-container .Tick {
   font-size: 30px;
   font-variant: small-caps;
   white-space: nowrap;    /* I dont want the text to wrap to the next line */
   justify-content: center;
   align-items: left;
   flex-direction: column;
   display: flex;
}

.bullet-points-container .Tick li {
   background-image: url("../images/Greentick.png");
   background-repeat: no-repeat;
   background-size: contain;
   list-style-type: none;
   margin-top: 5rem;    /* spacing between bullet points content */
   padding-left: 12rem;    /* controls the distance between sticker and bullet point */
}


.divider-line {
   border-top: 2px solid #ccc; 
   margin: 4rem auto;
   max-width: 90%;
}

.Sale {  
   text-align: center;
   margin-top: 10rem;
   margin-bottom: 5rem;
   font-size: 23px;
   text-transform: uppercase;
   color: #d64c57;
}

.Sale h1 {
   animation: jump 3s infinite;
 }
 
@keyframes jump {
   0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
   }
   40% {
      transform: translateY(-30px);       /* jump up by 30px */
   }
   60% {
      transform: translateY(-5px);
   }
}

/* END OF HOME PAGE */

/* START OF ADDING PRODUCT FORM */

.add-product-form{
   max-width: 50rem;
   background-color: var(--bg-color );
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
 }

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:var(--black);
   text-transform: uppercase;
   text-align: center;
 }

.add-product-form .box{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   background-color: var(--white);
   margin:1rem 0;
   width: 100%;
}


/* START OF ADDING PRODUCT FORM */




/* START OF DISPLAY PRODUCT TABLE */

.display-product-table table{
   width: 100%;
   text-align: center;
}

.display-product-table table thead th{
   padding:1.5rem 0;
   font-size: 2rem;
   background-color: var(--black);
   color:var(--white);
}

.display-product-table table td{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--black);
}

.display-product-table table td:first-child{
   padding:0;
}

.display-product-table table tr:nth-child(even){
   background-color: var(--bg-color);
}

.display-product-table .empty{      /* IF THERE ARE NO PRODUCTS IN THE TABLE */
   margin-bottom: 2rem;
   text-align: center;
   background-color: var(--bg-color);
   color:var(--black);
   font-size: 2rem;
   padding:1.5rem;
}

/* END OF DISPLAY PRODUCT TABLE */


/* START OF EDIT FORM */

.edit-form-container{
   position: fixed;
   top:0; left:0;
   z-index: 1100;
   background-color: var(--dark-bg);
   padding:2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   text-align: center;
   padding:2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: var(--bg-color);
   border-radius: .5rem;
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   text-transform: none;
}

/* END OF EDIT FORM */


/* START OF VIEW FRUITS */
.heading{
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 5rem;
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(3, 45rem);
   gap: 5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
}

.products .box-container .box img{
   height: 25rem;
}

.products .box-container .box img:hover{
   transform: scale(0.8);
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2.5rem;
   color:var(--black);
   white-space: nowrap;
}

.products .box-container .box .price{
   font-size: 2.3rem;
   color:var(--black);
}

/* if user not logged in */

.login-message-container {
   position: fixed;
   top:0; left:0;
   height: 100vh;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: var(--dark-bg);
   width: 100%;
}

.login-message-container .message-container{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.login-message-container .message-container h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
}

/* END OF VIEW FRUITS */



/* START OF SHOPPING CART */

.shopping-cart table{
   text-align: center;
   width: 100%;
}

.shopping-cart table thead th{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--black);
}

.shopping-cart table tr td{
   border-bottom: var(--border);
   padding: 1rem;
   font-size: 2rem;
   color:var(--black);
}

.shopping-cart table input[type="number"]{
   border: var(--border);
   padding:1rem 2rem;
   font-size: 2rem;
   color:var(--black);
   width: 10rem;
}

.shopping-cart table input[type="submit"]{
   padding:.5rem 1.5rem;
   cursor: pointer;
   font-size: 2rem;
   background-color: var(--orange);
   color:var(--white);
}

.shopping-cart table input[type="submit"]:hover{
   background-color: var(--black);
}

.shopping-cart table .table-bottom{
   background-color: var(--bg-color);
}

.shopping-cart .checkout-btn{
   text-align: center;
   margin-top: 1rem;
}

.shopping-cart .checkout-btn a{
   display: inline-block;
   width: auto;
}

.shopping-cart .checkout-btn a.disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: var(--blue);
}


/* END OF SHOPPING CART */



/* START OF CHECK OUT FORM */

.checkout-form form{
   padding:2rem;
   border-radius: .5rem;
   background-color: var(--bg-color);
}

.checkout-form form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout-form form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
   font-size: 2rem;
   color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
   width: 100%;
   background-color: var(--white);
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   text-transform: none;
   border:var(--border);
}

.display-order{
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   padding:1.5rem;
   margin:0 auto;
   margin-bottom: 2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
}

.display-order span{
   display: inline-block;
   border-radius: .5rem;
   background-color: var(--bg-color);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--black);
   margin:.5rem;
}

.display-order span.grand-total{
   width: 100%;
   background-color: var(--red);
   color:var(--white);
   padding:1rem;
   margin-top: 1rem;
}

.order-message-container{
   position: fixed;
   top:0; left:0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: var(--dark-bg);
   width: 100%;
}

.order-message-container .message-container{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.order-message-container .message-container h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
}

.order-message-container .message-container .order-detail{
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding:1rem;
   margin:1rem 0;
}

.order-message-container .message-container .order-detail span{
   background-color: var(--white);
   border-radius: .5rem;
   color:var(--black);
   font-size: 2rem;
   display: inline-block;
   padding:1rem 1.5rem;
   margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
   display: block;
   background: var(--red);
   color:var(--white);
   text-transform: capitalize;
}

.order-message-container .message-container .customer-details{
   margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
   text-transform: capitalize;
}

.order-message-container .message-container .customer-details p span{
   color:var(--blue);
   padding:0 .5rem;
   text-transform: none;
}

/* END OF CHECK OUT FORM */



/* START OF LOGIN FORM */

.form-container{
   min-height: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 60px;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #ccc;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select,
.form-container form textarea {
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:10px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: var(--white);
}

.form-container form .form-btn{
   background: #fbd0d9;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
   color: var(--white);
   background: var(--green);
}

.form-container form .form-btn:hover{
   background-color: #000;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color: var(--blue);
}

.form-container form p a:hover{
   border-bottom: 3px solid var(--red);
}


.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color: var(--white);
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

.form-container form .error-message {
   font-size: 14px;
   color: red;
   font-weight: 550;
}

/* END OF LOGIN FORM */



/* START OF SINGLE PRODUCT */
.sproduct {
   margin: 5% auto; /* Center the section horizontally with auto margin */
   padding-top: 2%; /* Adjust padding as needed */
   max-width: 1200px; /* Set a maximum width for the section */
}

.sproduct .row {
   display: flex; /* Use flexbox for layout */
   justify-content: space-between; /* Distribute columns evenly */
}

.sproduct .row .description-column {
   margin-left: 5rem; /* Add some spacing between columns */
   display: flex;
   flex-direction: column;
}

.sproduct .row .description-column .route {
   font-size: 15px;
   color: #ccc;
}

.sproduct .row .description-column .fruit-title {
   font-size: 30px;
   margin-top: 3rem;
}

.sproduct .row .description-column .sproduct-price {
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 0;
   margin-top: 5rem;
}

.sproduct .row .description-column .stock-in-stock {
   font-size: 20px;
   color: green;
   font-weight: 500;
   margin-top: 0.5rem;
}  

.sproduct .row .description-column .fruits-description {
   font-size: 20px;
   padding-left: 0;
   margin-top: 5rem;
}

.sproduct .row .description-column .fruits-description li {
   margin-bottom: 20px;
   list-style-type: none;
} 

/* END OF SINGLE PRODUCT */
